.HeadBG {
    background-color: cadetblue;
    width: 300px;
    margin: auto;
}

#Head {
    text-align: center;
    color: whitesmoke;
    text-shadow: grey;
    margin-top: 15%;
    margin-bottom: -5%;
}

.table1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}

#PI {
    margin-bottom: 10px;
}



#tablePersonal {
    width: 100%;
}

#name {
    width: 300px;
    background-color: skyblue;
}





.EB {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#educBG {
    margin-bottom: 10px;
}

#elem {
    width: 300px;
    background-color: skyblue;
}

#table2 {
    width: 100%;
}

.table3 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#PInt {
    margin-bottom: 10px;
}

#hobbies {
    width: 300px;
    background-color: skyblue;
}

#tab3 {
    width: 100%;
}



#BD {
    margin-bottom: 10px;
}
#tab4 {
    width: 100%;
}

.table {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#height {
    width: 300px;
    background-color: skyblue;
}

.and {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#str {
    margin-left: 20px;
    background-color: skyblue;
    text-decoration: underline;
    margin-right: 200px;
}

#wknes {
    margin-left: 20px;
    background-color: skyblue;
    text-decoration: underline;
    margin-right: 200px;
}

#left {
    width: 50%;
    float: left;
}

#right {
     width: 50%;
    float: right;
}

#birthdate {
    background-color: skyblue;
}

#contNum {
    background-color: skyblue;
}

#religion {
    background-color: skyblue;
}

#college {
    background-color: skyblue;
}

#food {
    background-color: skyblue;
}



#nick1 {
    background-color: skyblue;
}

#Bplace1 {
    background-color: skyblue;
}

#Btype1 {
    background-color: skyblue;
}

#High1 {
    background-color: skyblue;
}

#sport1 {
    background-color: skyblue;
}

#weight1 {
    background-color: skyblue;
}





#id pic {
    margin: auto;
    width: 20%;
    margin-left: 67%;
    margin-top: 50px;
    margin-bottom: 20px;
}

#propic {
    margin: auto;
    width: 15%;
    margin-left: 75%;
    margin-top: 7%;
}





body {
    background-image: url(background-border-bright-630754.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
